.carussel {
    background-color: #183859;
    margin-top: 2%;
    height: 450px;
    width: 1300px;
    margin-left: 8%;

}

.carussel .slogan {
    color: white;
    font-size: 25px;
    margin-top: 10px;

}

.carussel .logo-seccion {
    width: 200px;
    height: 200px;

    margin-top: 10%;

}

.carussel .boton-slogan {

    margin-top: 2%;
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 20px;
    padding: 10px 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.imagen-carusel {
    width: 1500px;
    height: 450px;
}

.seccion-izquierdo {
    height: 400px;
    background-color: rgb(189, 186, 186);
}

.alcalde {
    height: 250px;
    margin-top: 15%;
    border-radius: 50%;
    margin-left: 78%;
}

.descripcion {
    text-align: justify;
    margin-top: 10%;
    margin-left: 25%;
    font-size: 20px;
}

.mini-footer {
    background-color: rgb(189, 186, 186);
    margin-left: 25%;
    margin-top: 3%;
    border-radius: 20px;
    padding: 10px 20px;
}

.nombre-alcalde {
    margin-right: 50%;
    font-size: 25px;

}

.fa-brands {
    font-size: 80px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 10px 20px;
}

.seccion-noticias {
    background-color: rgb(189, 186, 186);
    margin-top: 2%;
    height: 350px;
    width: 1300px;
    margin-left: 8%;
}



.imagen-noticia img {
    margin-top: 3%;
    width: 250px;
    transition: transform 0.3s ease;
} 

/* aqui probamos */


.imagen-noticia img:hover{
    transform: scale(1.1);
}

.contenido-noticias {
    margin-top: 5%;
    font-size: 14px;
    text-align: justify;
}

.iconos-alcalde {
    transform: scale(var(--escala, 1));
    transition: transform 0.25s;
}

.iconos-alcalde:hover {
    color: #183859;
    --escala: 1.3;
    cursor: pointer;
}

.carousel-item img {
    height: 450px !important;

}
